/* color principal 7743DB */
/* color secundario C3ACD0 */
/* FFFBF5 */

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
  font-family: sans-serif;
}

body{
  background:#F7EFE5 ;
  margin: 0;
}
.bg-light{
    background: #7743DB;
  }
  .navbar{
  background: #7743DB;
}
.nav-link{
    color: #FFFBF5;
    font-size: 20px;
}
.navbar-nav .nav-link.active {
    color:#FFFBF5;
    font-size: 20px;
}
/* .navbar-nav .nav-link.show */

.nav-link:hover{
    color: #C3ACD0 ;
}
.navbar-nav .nav-link.active:hover {
    color:#C3ACD0 ;
}
.navbar-toggler{
  color:#C3ACD0;
  background:#FFFBF5;
}
.parrafo {
  text-align: justify;
  color: #FFFBF5;
}
.inf{
  background: #7743DB;
}
.h1{
  color: #FFFBF5;
}
.h2{
  color: #7743DB;
}
.seccion{
  background:#C3ACD0 ;
}

.cards{
  background:#C3ACD0 ;
  margin: 0;
}

.sesion{
  background:#C3ACD0 ;
}
.btn{
  background:#7743DB;
  border-color:#FFFBF5;
}
.btn:hover{
  background:#C3ACD0;
    border-color:#FFFBF5;
}
/* foo */
.footer-main{
    padding-top: 90px;
}

.address-main > div.col-lg-4 {
    border-bottom: dotted 1px #999;
}
.address-box {
    padding: 10px 0;
    margin-bottom: 30px;
}
.add-icon{
    float: left;
    width: 60px;
    display: inline-block;
    padding: 0px 5px;
}
.address-box .add-icon {
    background: #27303b;
    height: 75px;
    line-height: 75px;
    width: 75px;
    margin-right: 20px;
    text-align: center;
}
.add-icon img{
    width: 100%;
}
.address-box .add-icon img {
    max-width: 40px;
}
.add-content{
    padding-left: 70px;
}
.add-content h5 {
    font-size: 17px;
    color: #ffffff;
    padding: 0;
    font-weight: 500;
    margin-bottom: 10px;
}
.add-content p {
    font-size: 13px;
    color: #999999;
    font-weight: 300;
}
.add-content p a{
    font-size: 14px;
    color: #999999;
    font-weight: 300;
    word-wrap: break-word;
}
.add-content p a:hover{
    color: #ffb32d;
}
.footer-main{
    padding-top: 90px;
}

.address-main > div.col-lg-4 {
    border-bottom: dotted 1px #999;
}
.address-box {
    padding: 10px 0;
    margin-bottom: 30px;
}
.add-icon{
    float: left;
    width: 60px;
    display: inline-block;
    padding: 0px 5px;
}
.address-box .add-icon {
    background: #27303b;
    height: 75px;
    line-height: 75px;
    width: 75px;
    margin-right: 20px;
    text-align: center;
}
.add-icon img{
    width: 100%;
}
.address-box .add-icon img {
    max-width: 40px;
}
.add-content{
    padding-left: 70px;
}
.add-content h5 {
    font-size: 17px;
    color: #ffffff;
    padding: 0;
    font-weight: 500;
    margin-bottom: 10px;
}
.add-content p {
    font-size: 13px;
    color: #999999;
    font-weight: 300;
}
.add-content p a{
    font-size: 14px;
    color: #999999;
    font-weight: 300;
    word-wrap: break-word;
}
.add-content p a:hover{
    color: #ffb32d;
}
.iframe{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ubicanos .text{
  color:#FFFBF5 ;
}
